*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

main section.left, section.right{
    height: 92vh;
}

a{
    text-decoration: none;
    color: lightgrey;
}

/* Sezione sinistra disposta in colonna */
div#logo img{
    width: 70%;
}

section.left{
    width: 15%;
    flex-direction: column;
    justify-content: space-between;
    padding: .8rem 1rem;
    background-color: black;
}

div.column-items li.left-btn{
    padding: .3rem 0;
}

li.left-btn a i.icon{
    font-size: 1.2rem;
    vertical-align: middle;
    margin-right: .3rem;
}

li.left-btn a span.label{
    font-size: .6rem;
    vertical-align: middle;
}

/* Btn posti nella parte sinistra in alto */
div.functions-column{
    margin-bottom: .5rem;
}

li.left-btn h5{
    color: white;
}

li.left-btn a i.fa-plus-square{
    font-size: 1.8rem;
}

/* Btn posti nella parte sinistra in basso */
hr{
    margin: .5rem 0;
}

li.left-btn h6{
    display: inline;
}

li.left-btn a i.fa-user-circle{
    font-size: 1.4rem;
}

/* Sezione destra disposta in riga */
section.right{
    width: 85%;
    overflow-y: auto;
    background-color: bisque;
}

/* Header del Main con button upgrade */
section.right div.main-header{
    width: 100%;
    height: 8vh;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
    background-color: brown;
}

/* Nav-bar del Main */
section.right nav.main-nav{
    height: 6vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: coral;
}

ul.nav-bar li.nav-items{
    display: inline;
    margin-right: 1rem;
    text-transform: uppercase;
}

/* Container delle varie row con le card */
section.right div.container{
    padding: 1.5rem 1rem;
}

section.row{
    flex-wrap: wrap;
}

/* Card */
section.row div.card{
    width: 220px;
    flex-shrink: 0;
    border: 1px solid black;
    background-color: cornflowerblue;
}

/* Div top della Card con img all'interno */
div.card-img{
    height: 85%;
}

div.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Div bottom della card con testo all interno */
div.text-img{
    text-align: center;
}


/* Footer */
footer{
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}

.footer-nav{
    height: 100%;
    width: 10%;
    justify-content: center;
    align-items: center;
    background-color:cadetblue;
}

