*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

main section.left, section.right{
    height: 90vh;
}

/* Sezione disposta in colonna */
section.left{
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    background-color: aqua;
}

section.left div.column-items{
    flex-basis: 100%;
    height: 100px;
    background-color: brown;
}

/* Sezione disposta in riga */
section.right{
    width: 80%;
    overflow-y: auto;
    background-color: bisque;
}










/* Footer */
footer{
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}